<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
</head>
<body>

<form method="post">
    {% csrf_token %}
    {{ form.name }}
    <button type="submit">Add Task</button>
</form>

<table>
    <thead>
    <tr>
        <th>Tasks</th>
        <th>Status</th>
        <th>Action</th>
    </tr>
    </thead>
    {% for task in tasks %}
        <tbody>
        <tr>
            <td>{{ task }}</td>
            <td>{{ task.status }}</td>
            <td>
                <a href="{% url 'tasks:task_edit' task.id %}">Edit</a>
                <a href="{% url 'tasks:task_delete' task.id %}">Delete</a>
            </td>
        </tr>
        </tbody>
    {% endfor %}
</table>

</body>
</html>
