<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post">{% csrf_token %}
    <div class="form-group row">
        <label class="col-md-3 col-form-label">{{ form.email.label_tag }}</label>
        <div class="col-md-9">
            {{ form.email }}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-3 col-form-label">{{ form.password1.label_tag }}</label>
        <div class="col-md-9">
            {{ form.password1 }}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-3 col-form-label">{{ form.password2.label_tag }}</label>
        <div class="col-md-9">
            {{ form.password2 }}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-3 col-form-label">{{ form.first_name.label_tag }}</label>
        <div class="col-md-9">
            {{ form.first_name }}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-3 col-form-label">{{ form.middle_name.label_tag }}</label>
        <div class="col-md-9">
            {{ form.middle_name }}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-3 col-form-label">{{ form.last_name.label_tag }}</label>
        <div class="col-md-9">
            {{ form.last_name }}
        </div>
    </div>
    <button type="submit" class="btn btn-primary btn-block">Signup</button>
    <a href="{% url 'login' %}">Already have an account</a>
</form>
</body>
</html>
