<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method="post">
    {% csrf_token %}
    {{ form.name }}
    <button type="submit">Add Task</button>
</form>

{% for task in tasks %}
    <table>
        <tr>
            <td>
                {{ task }}
            </td>
            <td>
                <a href="{% url 'task_delete' task.id %}">
                    Delete
                </a>
            </td>
        </tr>
    </table>
{% endfor %}

</body>
</html>