{% extends "base.html" %}
{% load static %}
{% block head_title %} Login {% endblock head_title %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-4 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Sign In</h5>
                    <form method="post" class="form-signin" action="{% url 'login' %}"> {% csrf_token %}
                        <div class="form-label-group">
                            {{ form.email }}
                            <label for="inputEmail">Email address</label>
                        </div>

                        <div class="form-label-group">
                            {{ form.password }}
                            <label for="inputPassword">Password</label>
                        </div>

                        <div class="custom-control custom-checkbox mb-3">
                            <input type="checkbox" class="custom-control-input" id="customCheck1" name="chk">
                            <label class="custom-control-label" for="customCheck1">Remember password</label>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
                        <hr class="my-4">
                        <div class="text-center">
                            <a href="{% url 'signup' %}">
                                I don't have an account?
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
