{% extends "base.html" %}
{% load static %}
{% block head_title %} Edit Profile {% endblock head_title %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
    <div class="row">
     <div class="alert-box"></div>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissable ">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                    <strong>{{ message.tags }} !!</strong> {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <div class="col-md-4 mx-auto mt-5">
            <div class="card text-center text-white card-signin" style="background-color: teal">
                {% if instance.avatar %}
                    <div class="card-body p-2" id="img-box">
                        <img src="{{ instance.avatar.url }}" width="230" height="230"
                             class="profile_img rounded-circle">
                    </div>
                {% endif %}
                <div class="card-footer">
                    <p>
                        {{ instance.get_full_name }}
                    </p>
                    <p> {{ instance.email }}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-9 col-md-6 col-lg-4 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Update Profile</h5>
                    <form id="p-form" method="post" enctype="multipart/form-data" class="form-signin"
                          action="{% url 'edit_profile' user.id %}" autocomplete="off"> {% csrf_token %}
                        <div class="form-label-group">
                            {{ form.first_name }}
                            <label for="inputFirstName">First Name</label>
                        </div>

                        <div class="form-label-group">
                            {{ form.middle_name }}
                            <label for="inputMiddleName">Middle Name</label>
                        </div>
                        <div class="form-label-group">
                            {{ form.last_name }}
                            <label for="inputLastName">Last Name</label>
                        </div>
                        <div class="pl-2">
                            {{ form.avatar }}
                            <label for="inputLastName">Choose Avatar</label>
                        </div>
                        <div>
                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Update
                                Profile
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script src="{% static 'js/edit_profile.js' %}"></script>
{% endblock %}
