{% extends "base.html" %}
{% load static %}
{% block head_title %} Sign Up {% endblock head_title %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-4 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Sign Up</h5>
                    <form method="post" class="form-signin" action="{% url 'signup' %}"> {% csrf_token %}
                        <div class="form-label-group">
                            {{ form.email }}
                            <label for="inputEmail">Email address</label>
                        </div>

                        <div class="form-label-group">
                            {{ form.password1 }}
                            <label for="inputPassword">Password</label>
                        </div>
                        <div class="form-label-group">
                            {{ form.password2 }}
                            <label for="inputPassword">Confirm Password</label>
                        </div>
                        <div class="form-label-group">
                            {{ form.first_name }}
                            <label for="inputPassword">First Name</label>
                        </div>

                        <div class="form-label-group">
                            {{ form.middle_name }}
                            <label for="inputPassword">Middle Name</label>
                        </div>
                        <div class="form-label-group">
                            {{ form.last_name }}
                            <label for="inputPassword">Last Name</label>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign Up</button>
                        <hr class="my-4">
                        <div class="text-center">
                            <a href="{% url 'login' %}">
                                Already have an account
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
