{% extends "base.html" %}
{% load static %}
{% block head_title %} Tasks {% endblock head_title %}

{% block content %}
    <div class="container">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissable ">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                    <strong>{{ message.tags }} !!</strong> {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <form method="post" enctype="multipart/form-data" action="">{% csrf_token %}
            <div class="row mt-5">
                <div class="col-md-5 offset-3">
                    {{ form.name }}
                    {% if errors %}
                        {{ errors }}
                    {% endif %}
                </div>
                <div class="col-md-3">
                    <button type="submit" class="btn btn-primary">Add Task</button>
        </form>
    </div>
    </div>

    <div class="row mt-5">
    <div class="col-md-10 offset-1">
        <table class="table table-hover table-border">
            <thead>
            <tr>
                <th>Tasks</th>
                <th>Status</th>
                <th>Assigned By</th>
                <th>Created At</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for task in tasks %}
                <tr>
                    <td>{{ task }}</td>
                    <td>{{ task.status }}</td>
                    <td>{{ task.user }}</td>
                    <td>{{ task.created_at }}</td>
                    <td>
                        <a class="btn btn-primary btn-sm" href="{% url 'tasks:task_edit' task.id %}"
                           role="button">Edit</a>
                        <a class="btn btn-danger btn-sm" href="{% url 'tasks:task_delete' task.id %}" role="button">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
